@font-face {
  font-family: "OpenDyslexic";
  src: url("./assets/fonts/OpenDyslexicAlta-Regular.otf") format("opentype");
}

body {
  font-family: "OpenDyslexic", sans-serif;
  margin: 0;
  padding: 0;
}

